<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/_head %>
  </head>
  <body>
    <% include ../partials/_header %>
    <section class="section intro">
      <div class="container">
        <h1>NEXXPLORATION</h1>
        <p style="margin-left: -6px; margin-top: -8px; color: white;">Upcoming Space Launch Missions</p>
      </div>
    </section>

    <section class="timeline">
      <ol>
        <% launches.forEach((launch, i) => { %>
          <li>
            <div>
              <time>
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/783442-200.png" class='ship-icon'>
                <a href="<%= launch.rocket.wikiURL %>"><%= launch.rocket.name %></a>
              </time>
              <i class="fa fa-thumb-tack" style="margin-left: 6px" aria-hidden="true"></i><a href="<%= launch.rocket.agencies[0].wikiURL %>" style="margin-left: 2px"> <%= launch.rocket.agencies[0].name %></a>
              <p style="margin-left: 12px"><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= launch.location.name %></p>
              <p style="margin-left: 12px"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= launch.net.substring(0, launch.net.indexOf(':') + 3) %></p>
            </div>
          </li>
        <% }); %>
      </ol>

      <div class="arrows">
        <button class="arrow arrow__prev disabled" disabled>
          <img src="images/arrow_prev.svg" alt="prev timeline arrow">
        </button>
        <button class="arrow arrow__next">
          <img src="images/arrow_next.svg" alt="next timeline arrow">
        </button>
      </div>
    </section>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
